
<figure class="snip1506">
  <div class="profile-image"><img src="http://res.cloudinary.com/dhuynu1ka/image/upload/v1500629370/MomentCam_20170715_214342_oxo3gr.jpg"
                                  alt="profile-sample2"/>
    <div class="icons">
      <a href="#"><i class="ion-social-reddit"></i></a>
      <a href="#"> <i class="ion-social-twitter"></i>
      </a><a href="#"> <i class="ion-social-vimeo"></i></a></div>
  </div>
  <figcaption>
    <h3>Antarika Baruah</h3>
    <h4>The Bride</h4>
    <p>I'm killing time while I wait for life to shower me with meaning and happiness.</p>
  </figcaption>
</figure>

