<div class="container">
  <div class="header">
    <div class="color-overlay">
      <div class="day-number">{{ mainEvent.day.date}}</div>
      <div class="date-right">
        <div class="day-name">{{ mainEvent.day.day}}</div>
        <div class="month">{{ mainEvent.day.month}} {{ mainEvent.day.year}}</div>
      </div>
      <h3>{{mainEvent.name}}</h3>
      <h6>{{mainEvent.description}}</h6>
    </div>
    <!--<div class="actionbutton">+</div>-->
  </div>
  <div class="timeline">
    <ul>
      <li *ngFor  ="let data of mainEvent.timeline ">
        <div class="bullet pink"></div>
        <div class="time">{{ data.time}}</div>
        <div class="desc">
          <h3>{{ data.name }}</h3>
          <h4>{{ data.description }}</h4>
          <div class="people">
            <img *ngFor = "let people of data.images " src="{{ people }}">
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>

