md-card-footer i:hover{

  background-color: lightgrey;
  border-radius: 3px;
}

md-card{
  margin: 4px 7px 4px 1px;
  min-height: 500px;
  max-height: 700px;
}
md-card-title{
  font-weight: bold;
}
md-card-footer i{
  margin-right: 2px;
  margin-left: 7px;
}

md-card-footer i:active{

  background-color: grey;
  border-radius: 3px;
}

.female{
  background-color: pink;

}
.md-card-image{

  height: 300px;
}

.male {
  background-color: steelblue;
}

.both{

  background: #8C29FF; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, pink , steelblue); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, pink, steelblue); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, pink, steelblue); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, pink , steelblue); /* Standard syntax */
}
