<div id="content">
  <div class="content-inner">

    <a href="#" am-metro-box="row=3 col=2 azul2" style="overflow-y: scroll">
      <app-event-card [mainEvent]="mainEvent"></app-event-card>
    </a>

    <a href="#" am-metro-box="row=1 col=2 verde1">

    </a>

    <a href="#" am-metro-box="row=1 col=2 verde1">
      <div>
        <span>conteudo</span>
      </div>
    </a>

    <a href="#" am-metro-box="row=1 col=4 azul2">
      <div class="panner">
        <app-profile-card-left></app-profile-card-left>
        <app-profile-card-right></app-profile-card-right>
      </div>
    </a>

    <a href="#" am-metro-box="row=1 col=2 azul2">
      <div>
        <span>col=1 and row=2</span>
      </div>
    </a>

    <a href="#" am-metro-box="row=1 col=1 verde2">
      <div class="carousel slide" data-ride="carousel" data-interval="1000">
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
            <img src="http://res.cloudinary.com/dhuynu1ka/image/upload/v1500629369/MomentCam_20170715_214018_oemkjx.jpg" class="img-responsive"/>
          </div>
          <div class="item">
            <img src="http://res.cloudinary.com/dhuynu1ka/image/upload/v1500629370/MomentCam_20170715_214250_rwudt6.jpg" class="img-responsive"/>
          </div>
          
        </div>
      </div>

    </a>

    <a href="#" am-metro-box="row=1 col=1 verde2">
      <div class="carousel slide" data-ride="carousel" data-interval="1200">
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
            <img src="http://res.cloudinary.com/dhuynu1ka/image/upload/v1500629370/MomentCam_20170715_214342_oxo3gr.jpg" class="img-responsive"/>
          </div>

          <div class="item">
            <img src="http://res.cloudinary.com/dhuynu1ka/image/upload/v1500629369/MomentCam_20170715_214242_tpxv4k.jpg" class="img-responsive"/>
          </div>

        </div>
      </div>
    </a>


  </div>
</div>




