
<app-menu-bar></app-menu-bar>

<div class="container">
  <router-outlet></router-outlet>
  <!--<div class="row">-->
  <!--<md-card *ngFor="let card of layout.card"  [ngClass]="[card.color,card.large_col,card.small_col,card.extra_small]">-->
  <!--<md-card-header>-->
    <!--<img md-card-avatar src="{{ card.avatar}}">-->
    <!--<md-card-title>{{card.title }}</md-card-title>-->
    <!--<md-card-subtitle>{{ card.description }}</md-card-subtitle>-->
  <!--</md-card-header>-->
  <!--<img md-card-image src="{{ card.image}}" class="md-card-image">-->
  <!--<md-card-content>-->
    <!--<p>{{ card.content }} </p>-->
  <!--</md-card-content>-->
  <!--<md-card-footer >-->
    <!--<i *ngFor=" let action of card.actions" class="material-icons">{{action}}</i>-->
  <!--</md-card-footer>-->
<!--</md-card>-->
<!--</div>-->
</div>
