<figure class="snip1522">
  <div class="profile-image"><img src="http://res.cloudinary.com/dhuynu1ka/image/upload/v1500629369/MomentCam_20170715_214242_tpxv4k.jpg" alt="profile-sample3" />
    <div class="icons"><a href="#"><i class="ion-social-reddit"></i></a>
      <a href="#"> <i class="ion-social-twitter"></i></a>
      <a href="#"> <i class="ion-social-vimeo"></i></a>
    </div>
  </div>
  <figcaption>
    <h3>Amit Jain</h3>
    <h4>The Groom</h4>
    <p>Which is worse, that everyone has his price, or that the price is always so low.</p>
  </figcaption>
</figure>

